<div *ngIf="LogrosDato.length>0" class=" container mt-5 test ">


  <div class="d-flex">
    <button class="" (click)="newDato()" *ngIf="logeado">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25" height="25">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 
          0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 
          32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
      </svg>
    </button>
    <h3>Logros</h3>
  </div>


  <div *ngFor="let item of LogrosDato">
    <app-Logro [Dato]="item"></app-Logro>
  </div>

  <div *ngIf="creado">
    <form action="#" >
      <input #titulo     placeholder="pone un titulo">
      <input #texto      placeholder="pone un texto">
      <input #rutaimagen placeholder="pone un ruta de la imagen">

    </form>
  </div>

</div>