<!--banner-->
<div class="container-fluid my-4"> 
    <img src="../../assets/images/f_superbaner.jpg"  class="img-fluid" alt="banner">  
</div>

<div class="scontainer-fluid supercontenedor" *ngIf="n>=6" >
    

<!--about-->
    <div class="container about" >
        <h4 class="d-block" style="text-align:center">Sobre mi</h4>
        <div class="d-flex">
        <img src="{{about.rutaimagen}}" style="max-height:150px;">  
        <p class="">{{about.texto}}</p>
        </div> 
    </div>

<!--experiencias-->
    <div class="container experiencias">
        <h4 class="d-block" style="text-align:center">Experiencias</h4>
        <div class="container-fluid " *ngFor="let item of experiencias">
            <h5 class="">{{item.titulo}}</h5>
            <div class="d-flex mb-3 experiencias_div">
                <img class="img-fluid experiencias_img" src="{{item.rutaimagen}}" >
                <p class="experiencias_p" >{{item.texto}}</p>
            </div>
        </div>
    </div>

<!--educacion-->
    <div class="container educacion">
        <h4 class="d-block" style="text-align:center">Educacion</h4>
        <div class="container-fluid " *ngFor="let item of educacion">
            <h5 class="">{{item.titulo}}</h5>
            <div class="d-flex my-4 educacion_div">
                <img src={{item.rutaimagen}} class="img-fluid educacion_img">    
                <div>
                    <p class="educacion_p">{{item.texto}}</p>
                </div>
            </div>
        </div>
    </div>


<!--skills-->
    <div class="container d-flex justify-content-around hardsoftskills">
        <div class="">
            <h4 class="d-block" style="text-align:center">Hard Skills</h4>
            <div class="d-grid gridd" id="hardskillcontiner" >
                <div *ngFor="let item of skillsh" class="card text-black mb-5 px-0 col" style="width: 205px;">
                    <div class="card-header text-center bg-warning">{{item.titulo}}</div>
                    <div class="{{'card-body cuanto' + item.numero.toString()}}" ><h3 class="card-title text-center text-black">{{item.numero.toString()}}/10</h3></div>
                </div>
            </div>
        </div>
        <div class="">
            <h4 class="d-block" style="text-align:center">Soft Skills</h4>
            <div class="d-grid gridd" id="softskillcontiner" >
                <div *ngFor="let item of skillss" class="card text-black mb-5 px-0 col" style="width: 205px;">  
                    <div class="card-header text-center bg-secondary ">{{item.titulo}}</div>
                    <div class="{{'card-body cuanto' + item.numero.toString()}}"><h3 class="card-title text-center">{{item.numero.toString()}}/10</h3></div>
                </div>
            </div>
        </div>
    </div>
  
<!--proyectos-->


    <div class="container proyectos"> 
        <h4 class="d-block" style="text-align:center">Proyectos</h4>
        <div class="d-flex justify-content-around my-4 p-2">
            <div *ngFor="let item of proyectos" >  
                <div class="container-fluid d-flex justify-content-around "  >
                    <div class="card bg-info" style="width: 18rem;">
                        <div class="card-header m-auto">
                            <h5 class="card-title">{{item.titulo}}</h5> 
                        </div>
                        <div class="card-body m-auto" >
                            <img class="card-img-bottom" src="{{item.rutaimagen}}" alt="Argentina programa foto" >
                        </div>
                        <div class="card-footer algo d-flex flex-column justify-content-between">
                            <p class="card-text">{{item.texto}}</p>
                            <div class="d-flex justify-content-between align-items-center">  
                                <a href="{{item.link}}" target="_blank" class="btn btn-primary">Ir a ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>















    
</div>