<div class="BotonContenedor container mt-5" *ngIf="EducacionsDato.length>0" >

  <div class="d-flex">
    <h3>Educacion</h3>
    <button class="ms-2" (click)="newDato()" *ngIf="logeado">
      <app-Plus></app-Plus>
    </button>
  </div>

  <app-Educacion *ngFor="let item of EducacionsDato" [Dato]="item"></app-Educacion>
 
  <div *ngIf="creado" class="BotonContenedor">
    <div class="d-flex flex-md-nowrap flex-wrap justify-content-start p-1">
      <div class="m-1 OcuparTodo">
        <input name="titulo" [(ngModel)]="this.nuevoDato.titulo" placeholder="Titulo">
        <textarea name="descripcion" class="TextArea" [(ngModel)]="this.nuevoDato.texto" placeholder="Descripcion"></textarea>
      </div>
    </div>
    <button class="BotonGuardar" (click)="guardar()">
      <app-Save></app-Save>
    </button>
  </div>
 
</div>