<div *ngIf="Dato" class="container mt-2">
  <div class="m-3 BotonContenedor">
    <div class="container-fluid d-flex flex-md-nowrap flex-wrap justify-content-between p-1">
        <img [src]="Dato.rutaimagen" class="Foto">
        <p class="m-1 PerfilTexto" contentEditable={{editable}} [textContent]="Dato.texto" #texto (input)="Dato.texto=texto.innerText"></p>
    </div>
    <button class="BotonEditar" (click)="toEdit()" *ngIf="logeado">
      <app-Edit></app-Edit>
    </button>
    <button class="BotonGuardar" (click)="editar()" *ngIf="editable">
      <app-Save></app-Save>
    </button>
  </div>
</div> 