<div class="card text-black mb-5 px-0 col BotonContenedor me-1" style="width: 205px;">
  
  <div class="card-header text-center bg-{{Color}} " contentEditable={{editable}} [textContent]="Dato.titulo"#titulo (input)="Dato.titulo=titulo.innerText"></div>
  <div class="card-body Fondo d-flex justify-content-center" style="--numero: {{(Dato.numero*10).toString()}}%">
    <h3 class="card-title text-center" type="number" contentEditable={{editable}}
      [textContent]="Dato.numero.toString()" #numero (input)="Dato.numero=(+numero.innerText)" 
      onkeypress='return event.charCode >= 48 && event.charCode <= 57' >
    </h3>
    <h3 class="card-title text-center">/10</h3>
  </div>
 
  <button class="BotonEditar" (click)="toEdit()" *ngIf="logeado">
    <app-Edit></app-Edit>
  </button>
  <button class="BotonGuardar" (click)="editar()" *ngIf="editable">
    <app-Save></app-Save>
  </button>
  <button class="BotonEliminar" (click)="eliminar()" *ngIf="editable">
    <app-Elim></app-Elim>
  </button>

</div>