<header class="navbar navbar-light bgcolor flex-row">
  <nav class="">
    <div class="container-fluid" >

      <div class="d-flex justify-content-between align-items-center ww">

        <div class="">      
          <img src="../../assets/images/f_cat.png"  class="imgg">    
          <a class="navbar-brand argpro " href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">Argentina Programa</a>
        </div>

        <div class="">
          <a class="navbar-brand" routerLink="/">Home</a>
          <a class="navbar-brand" routerLink="/editar" *ngIf="token!=''">Editar</a>


        </div>
        <div *ngIf="token!='' ; else templateName">
          <div>
            <p>{{token}}</p>
          </div>
        </div>
      
        <ng-template #templateName>
          <div class="m-3">
            <button class="" routerLink="/login">Login</button>
          </div>
        </ng-template>


      </div>
 
    </div> 
  </nav>

</header>