<div class="m-1 BotonContenedor">
  <div  class="d-flex flex-md-nowrap flex-wrap justify-content-start p-1">
    <div class="m-1 OcuparTodo"> 
      <h5 class="TituloBorde" contentEditable={{editable}} [textContent]="Dato.titulo" #titulo (input)="Dato.titulo=titulo.innerText">{{Dato.titulo}}</h5>
      <p contentEditable={{editable}} [textContent]="Dato.texto" #texto (input)="Dato.texto=texto.innerText">{{Dato.texto}}</p>
    </div>
  </div> 
  <button class="BotonEditar" (click)="toEdit()" *ngIf="logeado">
    <app-Edit></app-Edit>
  </button>
  <button class="BotonGuardar" (click)="editar()" *ngIf="editable">
    <app-Save></app-Save>
  </button>
  <button class="BotonEliminar" (click)="eliminar()" *ngIf="editable">
   <app-Elim></app-Elim>
  </button>
</div>
 