.test >*{
    border: 1px solid #000;
}

.editboton{
    position: absolute;
    top: -20px;
    right: 0px;
}
.saveboton{
    position: absolute;
    top: 20px;
    right: 0px;
}
.elimboton{
    position: absolute;
    top: 60px;
    right: 0px;
}
.newboton{
    position: absolute;
    top: -40px;
    left: 0px;
}
.editbotoncont{
    position: relative;
}

.container{
    border: 10px inset rgb(197, 248, 255);
    background-color: rgb(234, 255, 252);

}
.imgborde{
    border: 3px ridge rgba(13,13,74,0.39);
    background: rgba(27,163,137,0.1);
    margin: 4px;
}