.test >*{
    /*border: 1px solid #000;*/
}

.editboton{
    position: absolute;
    top: -20px;
    right: -20px;
}
.editbotoncont{
    position: relative;
}

.container{
    border: 10px inset rgb(197, 248, 255);
    background-color: rgb(234, 255, 252);

}