<app-Header></app-Header>

<form [formGroup]="miform" class=" container" style="max-width: 600px;" autocomplete="off"(ngSubmit)="onSubmit()" >
  <!-- Email input -->

  <div class="form-outline mb-4 mt-4">
    <input type="email" id="form2Example1" class="form-control" formControlName="user" />
    <label class="form-label" for="form2Example1">Usuario</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" formControlName="contra"/>
    <label class="form-label" for="form2Example2">Contraseña</label>
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>

</form>
