<div class="m-2 BotonContenedor card Foto">
    <div class="card-body d-flex flex-column justify-content-between">
      <h5 class="card-title" contentEditable={{editable}} [textContent]="Dato.titulo" #titulo (input)="Dato.titulo=titulo.innerText">{{Dato.titulo}}</h5>
      <p class="card-text" contentEditable={{editable}} [textContent]="Dato.texto" #texto (input)="Dato.texto=texto.innerText">{{Dato.texto}}</p>
      <a href="{{Dato.link}}" class="card-link Link">
        <app-Avion></app-Avion>  
        <app-Avion></app-Avion>  
        <app-Avion></app-Avion>  
      </a>
      <button class="BotonEditar" (click)="toEdit()" *ngIf="logeado">
        <app-Edit></app-Edit>
      </button>
      <button class="BotonGuardar" (click)="editar()" *ngIf="editable">
        <app-Save></app-Save  >
      </button>
      <button class="BotonEliminar" (click)="eliminar()" *ngIf="editable">
        <app-Elim></app-Elim>
      </button>
    </div>
</div>

